/env
/env3.10
requirements_4.txt
**/__pycache__/
Sequencial/__pycache__/__init__.cpython-311.pyc
links.py
__pycache__
Sequencial/__pycache__
SVM/__pycache__
link.py
.env
API/post_to_api.py
requirements.txt
notebooks/pretrained_word_vectors
notebooks/sequential/synthesizer