<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <script src="https://kit.fontawesome.com/07b5a4493e.js" crossorigin="anonymous"></script>

    <title>FakeNews Checker</title>
   
</head>
<body>
    <header>
        <h1>FakeNews Checker</h1>
        <nav>
            <a href="#">Länk 1</a>
            <a href="#">Länk 2</a>
            <a href="#">Länk 3</a>
        </nav>
    </header>
    

    <main>
        <form id="myForm">
            <label for="textArea"><h3>Write or paste your text here:</h3></label>
            <textarea id="textArea" placeholder="Enter Text..." name="textArea" required></textarea>

            <div class="checkboxes-container">
                <div class="checkbox-wrapper-62">
                    <input type="radio" class="check" name="model" id="check1-62"/>
                    <label for="check1-62" class="label">
                        <svg width="43" height="43" viewbox="0 0 90 90">
                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
                            <g transform="translate(0,-952.36218)">
                                <path d="m 13,983 c 33,6 40,26 55,48 " stroke="black" stroke-width="3" class="path1" fill="none" />
                                <path d="M 75,970 C 51,981 34,1014 25,1031 " stroke="black" stroke-width="3" class="path1" fill="none" />
                            </g>
                        </svg>
                        <span><i class="fa-solid fa-robot"></i> Sequential Model</span>
                    </label>
                </div>

                <div class="checkbox-wrapper-62">
                    <input type="radio" class="check" name="model" id="check2-62"/>
                    <label for="check2-62" class="label">
                        <svg width="43" height="43" viewbox="0 0 90 90">
                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
                            <g transform="translate(0,-952.36218)">
                                <path d="m 13,983 c 33,6 40,26 55,48 " stroke="black" stroke-width="3" class="path1" fill="none" />
                                <path d="M 75,970 C 51,981 34,1014 25,1031 " stroke="black" stroke-width="3" class="path1" fill="none" />
                            </g>
                        </svg>
                        <span><i class="fa-solid fa-robot"></i> Logistic Model</span>
                    </label>
                </div>

                <div class="checkbox-wrapper-62">
                    <input type="radio" class="check" name="model" id="check3-62"/>
                    <label for="check3-62" class="label">
                        <svg width="43" height="43" viewbox="0 0 90 90">
                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
                            <g transform="translate(0,-952.36218)">
                                <path d="m 13,983 c 33,6 40,26 55,48 " stroke="black" stroke-width="3" class="path1" fill="none" />
                                <path d="M 75,970 C 51,981 34,1014 25,1031 " stroke="black" stroke-width="3" class="path1" fill="none" />
                            </g>
                        </svg>
                        <span><i class="fa-solid fa-robot"></i> SVM Model</span>
                    </label>
                </div>

                <div class="checkbox-wrapper-62">
                    <input type="radio" class="check" name="model" id="check4-62"/>
                    <label for="check4-62" class="label">
                        <svg width="43" height="43" viewbox="0 0 90 90">
                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
                            <g transform="translate(0,-952.36218)">
                                <path d="m 13,983 c 33,6 40,26 55,48 " stroke="black" stroke-width="3" class="path1" fill="none" />
                                <path d="M 75,970 C 51,981 34,1014 25,1031 " stroke="black" stroke-width="3" class="path1" fill="none" />
                            </g>
                        </svg>
                        <span><i class="fa-solid fa-robot"></i> All Models</span>
                    </label>
                </div>
        
            </div>
              

            <input type="submit" value="Click To Predict!">
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/json_main.js') }}"></script>
</body>
</html>
