{% extends "base_template.html" %}
{% block title %}FakeNews Checker{% endblock %}
    

{% block content %}


<div class="custom-div">
    <div class="titles">
      <h2>Welcome</h2>
      <h3>Choose option:</h3>
    </div>
    <div class="buttons">
      <button class="submit-button" onclick="toggleTextForm()">Submit Text</button>
      <button class="upload-button">Upload File</button>
    </div>
    <form id="textForm" method="POST" action="/prediction" enctype="multipart/form-data">
        <label for="textArea"><h4>Write or paste your text here:</h4></label>
        <textarea id="textArea" placeholder="Enter Text..." name="textArea" required></textarea>
        <label class="section_label"><i class="fa-solid fa-square-check"></i>   Select Model to predict</label>
        
        <div class="checkboxes-container">
            
            <div class="label_radio">
                <label for="check1-62" class="label_radio">
                <input type="radio" name="model" value="sequential"/>
                <span><i class="fa-solid fa-robot"></i> Sequential Model</span>
                </label>
            </div>
    
            <div class="label_radio">
                <label for="logistic" class="label_radio">
                <input type="radio" name="model" value="logistic" id="logistic"/>
                <span><i class="fa-solid fa-robot"></i> Logistic Model</span>
                </label>
            </div>
            
            <div class="label_radio">
                <label for="svm" class="label_radio">
                <input type="radio" name="model" value="svm" id="svm"/>
                <span><i class="fa-solid fa-robot"></i> SVM Model</span>
                </label>
            </div>

            <div class="label_radio">
                <label for="all_models" class="label_radio">
                <input type="radio" name="model" value="all_models" id="all_models"/>
                <span><i class="fa-solid fa-robot"></i> All Models</span>
                </label>
            </div>
    
    
        </div>
        <input class="submit-button" type="submit" value="Click To Predict!">
    </form>
  </div>
  




  


    
    
  
  


        

  



{% endblock %}
  
